@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<p>Hi! I am Dimitris Baltas. I have a Bachelor in Mathematics and a Master degree in Computer Science.</p>
<p>This page is a basic online contact manager which is written in C# using ASP.NET MVC framework.</p>
<p>You can either create a new account or log in via your facebook account and then add your contacts.</p>
