@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    Dimitris Baltas<br />
    <strong>Support:</strong>  <a href="mailto:dibaltas@gmail.com.com">dibaltas@gmail.com</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/dimitris-baltas-286476b5/">Dimitris Baltas</a><br />
    <strong>Github:</strong>  <a href="https://github.com/dimitrismj">dimitrismj</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/profile.php?id=100011062952599">My Facebook</a>
</address>