@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <h1>Contact management software</h1>
    <p class="lead">KontaktAdministratör is an extremely easy to use tool and help you to keep your contacts safe and well organized!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Register as new user or login via your Facebook account!</p>
        <img class="img-responsive" src="~/images/register.jpg" />
        
        
    </div>
    <div class="col-md-4">
        <h2>One place for your contacts.</h2>
        <p>Maintain your contacts in a centralized address book.</p>
        <img class="img-responsive" src="~/images/oneplace.png"/>
        
    </div>
    <div class="col-md-4">
        <h2>Search intelligently.</h2>
        <p>Quickly find exactly what you want with the intelligent conditional search feature.</p>
        <img class="img-responsive" src="~/images/search.jpg" />
        
    </div>
</div>